name: MacOS-x64

on:
  push:
    branches: [master]
    paths-ignore: ['**.md']
  pull_request:
    branches: [master]
    paths-ignore: ['**.md']

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.7.0
      with:
        access_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Configure CMake
      run: |
        cmake -S. -Bbuild \
          -DCMAKE_BUILD_TYPE=Debug \
          -DCMAKE_OSX_ARCHITECTURES=x86_64
  
    - name: Build
      run: |
        cd build
        cmake --build . --config Debug -j 3
    
    - name: Test
      run: |
        ./build/test/test_add
